/* css reset */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Roboto Mono', monospace;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

/* custom css */
body {
    background-color: #edf2ff;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

div#description {
    padding: 16px;
    text-align: center;
}

div#description h2 {
    font-family: 'Roboto Mono', monospace;
    color: #53547b;
}

div#description p {
    color: #8385bb;
}

img#avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    padding: 4px;
    border: 4px solid #53547b;
}

a.item {
    background-color: #53547b;
    width: 400px;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

a.item:hover {
    background-color: #373852;
}

i.fa-github,
i.fa-linkedin,
i.fa-instagram,
i.fa-diagram-project,
i.fa-code-branch,
i.fa-medal,
i.fa-marker {
    color: #fff;
}